<% flash.each do |message_type, message| %>
    <h2 class="notice"><%= message %></h2>
<% end %>

<p>
  <strong>Title</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body</strong>
  <%= @book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", "/books" %>